nav-bar {
    width: 97.55%;
    height: 10vh;
    background-color: rgb(83, 73, 175);
    padding: 1rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13rem;
    z-index: 2;
}

nav-bar img {
    width: 9%;
}

.p2 {
    word-spacing: 2rem;
    text-justify: inter-word;
    font-size: medium;
}

.p2-one {
    position: relative;
    display: inline-block;
    margin-left: -15%;
    color: white;
    z-index: 10;
}

.p2-one-content {
    position: absolute;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 7px 21px rgba(0, 0, 0, 0.2);
    width: 150%;
    display: none;
    padding-top: 2rem;
    z-index: 10;
}

.p2-one:hover .p2-one-content {
    display: block;
}

.p2-one-content .a1 {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: black;
    
}

.p2-one-content .a1:hover {
    background-color: rgba(141, 141, 233, 0.498);
    color: black;
}
.has-nested {
    position: relative;
    padding: 1rem;
    background-color: white;
    color: black;
}
.nested-content {
    list-style-type: none;
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3rem;
    
    z-index: 999;
}
.has-nested:hover .nested-content {
    display: block;
}
a {
    text-decoration: none;
    color: white;
    display: inline;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}



nav-bar .first-btn{
    background-color: rgb(11, 11, 104);
    width: 10%;
    height: 10vh;
    color: white;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

nav-bar .first-btn img{
    width: 100%;
    height: 18vh;
}

nav-bar .first-btn:hover{
    background-color: rgb(185, 21, 21);
    transition-duration: 0.3s;
}
.image-container{
    width: 100%;
    height: 70vh;
    background-image: url(images/church.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
}
.image-overlay {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 255, 0.5);
}
.content-overlay{
    justify-content: center;
    position: absolute;
    left: 25%;
    top: 30%;
    color: white;
    text-align: center;
}
.menu, .submenu, .nested-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item, .submenu-item {
  position: relative;
  padding: 10px 20px;
}

.submenu, .nested-dropdown {
  display: none;
  position: absolute;
  background: white;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}

.menu-item:hover > .submenu,
.submenu-item.has-dropdown:hover > .nested-dropdown {
  display: block;
}

.nested-dropdown {
  left: 100%;
  top: 0;
}
