*{
    margin: 0%;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 5vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0rem;
}

header img{
    width: 2.5%;
    padding-right: 0rem;
    padding-left: 1rem;
}

header p{
    color: white;
    font-size: medium;
}

nav-bar{
    width: 97.55%;
    height: 10vh;
    background-color: rgb(83, 73, 175);
    padding: 1rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    z-index: 1;
}

nav-bar img{
    width: 9%;
}

.p2{
    word-spacing: 1rem;
    text-justify: inter-word;
    color: grey;
    font-size: medium;
}
.active{
    background-color: rgba(173, 216, 230, 0.539);
    color: white;
    padding: 0.5rem;
}
.p2-one {
    position: relative;
    display: inline-block;
    color: white;
    z-index: 10;
    margin-right: -1%;
    padding-bottom: 0.1rem;
}

.p2-one-content {
    position: absolute;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 7px 21px rgba(0, 0, 0, 0.2);
    width: max-content;
    display: none;
    z-index: 10;
    transition: height 1s;
    padding-bottom: 0.5rem;
}

.p2-one:hover .p2-one-content {
    display: block;
}

.p2-one-content .a1 {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: black;
    border-top: 1px solid rgb(242, 229, 229);
    
}

.p2-one-content .a1:hover {
    color: red;
}

.has-nested {
    position: relative;
    padding: 1rem;
    background-color: white;
    color: black;
}
.nested-content {
    width: max-content;
    list-style-type: none;
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 7px 21px rgba(0, 0, 0, 0.2);
}
.has-nested:hover .nested-content {
    display: block;
}
.p2-one::after{
    content: "▼";
}
.has-nested::after {
    content: "▶";
    transition: transform 0.3s;
}

.has-nested:hover::after {
    transform: rotate(90deg);
}

a {
    text-decoration: none;
    color: white;
    display: inline;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}
nav-bar .first-btn{
    background-color: rgb(11, 11, 104);
    width: 10%;
    height: 10vh;
    color: white;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

nav-bar .first-btn img{
    width: 100%;
    height: 18vh;
}

nav-bar .first-btn:hover{
    background-color: rgb(185, 21, 21);
    transition-duration: 0.3s;
}
#a1{
    text-decoration: none;
    color: white;
}
#div{
    height: 40vh;
}
h5{
    color: black;
    font-size: 25px;
    padding: 2rem;
}
h6{
    font-size: 20px;
    padding-left: 2rem;
}

h6 > a{
    text-decoration: none;
    color: blue;
}
h6 > a:hover{
    text-decoration: none;
    color: red;
}
.last section{
    background-color: rgb(7, 7, 147);
    height: 60vh;
    width: 100%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
}
.last-cont section{
    width: 20%;
    height: 40vh;
    margin: 0% 2%;
}
.last-cont section > img{
    width: 95%;
    height: 35vh;
    margin-top: 20%;
}
ul li, .a{
    padding-top: 1rem;
    color: gray;
    font-size: 15px;
}
ul, li{
    list-style-type: none;
}
ul{
    margin-left: 0%;
    margin-top: 10%;
}

.a{
    text-decoration: none;
}
.a:hover{
    color: red;
    text-decoration: none;
}
#li{
    font-weight: bold;
    font-size: large;
    color: white;
}
button{
    background-color: rgb(102, 102, 206);
    width: 66%;
    height: 8vh;
    color: white;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

button > img{
    width: 100%;
    height: 13vh;
}

button:hover{
    background-color: rgb(185, 21, 21);
    transition-duration: 0.3s;
}
#img{
    width: 15%;
    display: flex;
    padding-left: 3rem;
}
.horizontal-line{
    width: 60%;
    border: none;
    border-top: 1px solid grey;
    margin-top: -8%;
    margin-left: 20%;
}
#p2{
    font-size: 15px;
    color: grey;
    padding: 3rem;
    text-align: center;
    padding-bottom: 1rem;
}
#a{
    text-decoration: none;
    color: grey;
}
#a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.img7{
    width: 20%;
    display: inline;
    padding: 1rem;
}
/* Existing CSS ... keep all your original code above */

/* Media Queries for responsiveness */

@media only screen and (max-width: 480px) {
   *{
        margin: 0;
        padding: 0;
    }
header{
    height: 0.5vh;
    font-size: 5px;
}
  nav-bar {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.7rem; /* smaller gap */
    height: 2vh;
    overflow-x: visible; /* allow horizontal scroll if too wide */
    width: auto;
    z-index: 999;
  }

  nav-bar img {
    width: 8%; /* shrink logo */
  }

  .p2, .p2-one, a {
    font-size: 6px; /* smaller text */
    word-spacing: normal;
  }

  nav-bar .first-btn {
    width: 12%;
    height: 4vh;
    font-size: 6px;
    padding: 0.2rem;
  }
  nav-bar .first-btn img{
    width: 100%;
    height: 5vh;
    margin-left: -15%;
  }
  #div{
    height: 15vh;
  }
  h5{
    font-size: 9px;
    padding: 0.5rem;
  }
  h6{
    font-size: 7px;
    padding: 0.5rem;
  }
  .last section{
    background-color: rgb(7, 7, 147);
    height: 25vh;
    width: 100%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
}
.last-cont section{
    width: 20%;
    height: 15vh;
    margin-top: 0%;
}
.last-cont section > img{
    width: 100%;
    height: 8vh;
    margin-top: 10%;
}
ul li, .a{
    padding-top: 0.3rem;
    color: gray;
    font-size: 5px;
}
ul, li{
    list-style-type: none;
}
ul{
    margin-left: 0%;
    margin-top: 10%;
    width: 100%;
}

.a{
    text-decoration: none;
}
.a:hover{
    color: red;
    text-decoration: none;
}
#li{
    font-weight: bold;
    font-size: 6px;
    color: white;
}
#img{
    width: 15%;
    display: flex;
    padding-left: 1rem;
}
ul .img7{
    width: 15%;
    display: inline;
    margin: -17%;
}

 button {
    width: 70%;
    height: 4vh;
    font-size: 6px;
    padding: 0.2rem;
  }
  button > img{
    height: 6vh;
    padding-right: 1rem;
    margin-left: -15%;
  }
  .horizontal-line{
    width: 60%;
    border: none;
    border-top: 1px solid grey;
    margin-top: -13%;
}
#p2{
    font-size: 5px;
    margin-top: -8%;
}
}